@using web_tabel.Domain;
@model IEnumerable<TypeOfWorkingTimeRules>;
@{
    Layout = "_Layout";
}

<h1>Правила подбора</h1>

<a href="@Url.Action("Create")" class="btn btn-primary">Добавить</a>

<table class="table">
    <thead>
        <tr>
            <th>Источник</th>
            <th>Источник (описание)</th>
            <th>Возможное значение</th>
            <th>Возможное значение (описание)</th>
            <th>Правила</th>
        </tr>
    </thead>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Source.Name</td>
            <td>@item.Source.Description</td>
            <td>@item.Target.Name</td>
            <td>@item.Target.Description</td>
            <td><a href="@Url.Action("Rules","TypeOfWorkingTimeRules", new { name = item.SourceName})">Редактировать</a></td>
        </tr>
    }
</table>