@model web_table.Web.ViewModel.EmployeeTimeShiftViewModel;

<tr>
    <td>
        <a onclick="showInPopup('@Url.Action("Details","Employee", new {id = Model.EmployeeId},Context.Request.Scheme)','Детали')"> 
            @Model.EmployeeName<br/>
        </a>
        <small class="badge bg-primary">@Model.TypeOfEmp</small>
    </td>
    <td>
        @{
            if (Model.PositionName.Length > 20)
            {
                <small data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.PositionName">@(Model.PositionName.Substring(0, 20) + "...")</small>
            }
            else
            {
                <small>@Model.PositionName</small>
            }
        }
    </td>
    <td>@Model.OrganizationName</td>
    <td>@Model.DepartmentName</td>
    <td>@Model.HoursPlannedSum</td>
    
    @foreach(var item in Model.TypesPlanned)
    {
        string color = Model.ColorTypes.ElementAt(Model.TypesPlanned.IndexOf(item));
        <td class="text-center" style="color: @color">
            <span>@item</span>
            <span>@Model.HoursPlanned.ElementAt(Model.TypesPlanned.IndexOf(item))</span>
        </td>
    }
</tr>
<tr class="border-bottom border-dark">
    @{
        int i = 0;
    }
    <td class="border-bottom border-dark"><small class="badge bg-info">Работа</small></td>
    <td>
        @{
            if (Model.WorkScheduleName.Length > 20)
            {
                <small data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.WorkScheduleName">@(Model.WorkScheduleName.Substring(0, 20) + "...")</small>
            }
            else
            {
                <small>@Model.WorkScheduleName</small>
            }
        }
    </td>
    <td>@Model.OrganizationName</td>
    <td>@Model.DepartmentName</td>
    <td>@Model.HoursWorkedSum</td>
    @foreach (var item in Model.Dates)
    {
        bool disable = (item.DayOfWeek == DayOfWeek.Saturday || item.DayOfWeek == DayOfWeek.Sunday);
        string color = Model.ColorTypes.ElementAt(Model.Dates.IndexOf(item));
        <td class="text-center @(disable ? "bg-light" : "table-active")" style="color: @color">
            <a onclick="showInPopup('@Url.Action("SetNewHours","TimeShift", new {empid = Model.EmployeeId, currentDate = item.ToString("yyyy-MM-dd")},Context.Request.Scheme)','Новые часы')" class="btn @(disable ? "disabled" : "")" >
                <span>@Model.TypesWorked.ElementAt(i)</span>
                <span>@Model.HoursWorked.ElementAt(i)</span>
            </a>
        </td>
        i++;
    }
</tr>
