@using System.Globalization
@model IEnumerable<web_table.Web.ViewModel.EmployeeTimeShiftDTO>
@{
    Layout = "_Layout";
}

<h1>Текущий табель</h1>

@{
    var dts = Model.ElementAt(0).Dates;
    CultureInfo russian = new CultureInfo("ru-RU");
    int datesCol = dts.Count;
}

<div class="row mb-3">
    <div class="col-md-6 inline">
        <div id="FormDiv">
        @using (Html.BeginForm("Index","TimeShift",new { isDepartment = true}))
        {
            @Html.DropDownList("depId", new SelectList(ViewBag.Departments, "Id", "Name"),"-- Подразделение",new { id="depList", @class="form-control dropdown"})
        }
        </div>
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("Index","TimeShift",new {isOrganization = true}))
        {
            @Html.DropDownList("orgId", new SelectList(ViewBag.Organizations, "Id", "Name"), "-- Организация", new { id = "orgList", @class = "form-control dropdown" })
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <td class="text-sm-center">Сотрудник<br/><br/></td>
            <td class="text-center"><small>Должность<div class="border-top my-1"></div>График</small></td>
            @foreach (var item in dts)
            {
                <td style="width:10px" class="text-center">
                    @item.ToString("dd.MMM")<br />
                    @russian.DateTimeFormat.GetAbbreviatedDayName(item.DayOfWeek) 
                </td>
            }
            <td></td>
        </tr>
    </thead>
    <tbody>

        @{
            int orgNum = 1;
            ViewBag.orgNum = orgNum;
            foreach(var org in ViewBag.Organizations)
            {
                <tr>
                    <td colspan="@(datesCol+3)">
                        @*<a class="btn" data-toggle="collapse" href="@("#emps_" + orgNum)" role="button" aria-expanded="expanded" aria-controls="@("emps_" + orgNum)">*@
                            <span class="h3 text-center">@org.Name</span>
                        @*</a>*@
                    </td>
                </tr>
                @foreach (var emp in Model.Where(x => x.OrganizationId == org.Id.ToString()))
                {
                    @Html.Partial("_EmployeeTimeShift", emp);
                }
                orgNum++;
            }
        }

    </tbody>
</table>

