@using System.Globalization
@using web_tabel.Domain
@model IEnumerable<web_table.Web.ViewModel.EmployeeTimeShiftDTO>
@{
    Layout = "_Layout";
}

<h1>Текущий табель</h1>

@{
    var dts = Model.ElementAt(0).Dates;
    CultureInfo russian = new CultureInfo("ru-RU");
    int datesCol = dts.Count;
}


<div class="row mb-3">
    <div class="col-md-6">
        <div id="FormDiv">

        @using (Html.BeginForm("Index","TimeShift",new { isDepartment = true}))
        {
            <div class="row">
                <div class="col-sm-10">

                <label for="depList" class="form-label">Подразделения</label>
                <select id="depList" class="form-select" multiple name="depId">
                    @foreach (var d in ViewBag.Departments)
                    {
                        <option selected="@d.Selected" value="@d.Value">@d.Text</option>        
                    }
                </select>
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Отбор" class="btn btn-primary"/>
                </div>
            </div>
        }
        </div>
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("Index","TimeShift",new {isOrganization = true}))
        {
            <div class="row">
                <div class="col-sm-10">
            <label for="orgList" class="form-label">Организации</label>
            @Html.DropDownList("orgId", new SelectList(ViewBag.Organizations, "Value", "Text"), new { id = "orgList", @class = "form-select", multiple="multiple"})
            </div>
            <div class="col-sm-2">
            <input type="submit" value="Отбор" class="btn btn-primary mb-3" />
            </div>
            </div>
        }
    </div>
</div>

<div class="dataTables_wrapper">


<table id="timeShiftTable" class="table table-striped nowrap">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">Сотрудник</th>
            <th class="text-center" scope="col"><small>Должность<div class="border-top my-1"></div>График</small></th>
            @foreach (var item in dts)
            {
                <th class="text-center" scope="col">
                    @item.ToString("dd")<br />
                    @russian.DateTimeFormat.GetAbbreviatedDayName(item.DayOfWeek) 
                </th>
            }
        </tr>
    </thead>
    <tbody>

        @{
            int orgNum = 1;
            ViewBag.orgNum = orgNum;
            var deps = ViewBag.DepartmentsRaw as IEnumerable<Department>;
            foreach(var org in ViewBag.OrganizationsRaw)
            {
                if (Model.Where(x => x.OrganizationId == org.Id.ToString()).ToList().Count == 0) continue;

                @(await Html.PartialAsync("_OrpDepName", new ViewDataDictionary(ViewData)
                {
                    { "colSpan", datesCol+2},
                    { "header", "h3" },
                    { "Name", org.Name }
                }));

                var empByOrg = Model.Where(x => x.OrganizationId == org.Id.ToString());
                var depsByOrg = deps.Where(x => x.Organization.Id == org.Id);

                foreach(var d in depsByOrg)
                {

                    var empByDep = empByOrg.Where(x => x.DepartmentId == d.Id.ToString());
                    if (empByDep.Count() == 0) continue;

                    @(await Html.PartialAsync("_OrpDepName", new ViewDataDictionary(ViewData)
                    {
                        { "colSpan", datesCol+2},
                        { "header", "h5" },
                        { "Name", d.Name }
                    }));
                    
                    @foreach (var emp in empByDep)
                    {
                       @(await Html.PartialAsync("_EmployeeTimeShift", emp));
                    }
                }

                orgNum++;
            }
        }

    </tbody>
</table>
</div>

@(await Html.PartialAsync("Error"))

@section Scripts
{

    <script type="text/javascript">

        function ShowErrorModal(errorMessage) {
            let MessageBody = document.getElementById('ErrorModalBody');
            MessageBody.innerHTML = errorMessage;
            if (errorMessage.length > 0) { 
                $('#ErrorModal').modal('show');
            }
        }


        $(document).ready(function () {
            var msg = "@TempData["ErrorMessage"]";
            if (msg && msg.length > 0){
                ShowErrorModal(msg);
            }
        });


    </script>
}


