@model web_tabel.Domain.TimeShift;
@{
    Layout = null;
}

<h4 class="col-12 text-center">@Model.Employee.Name?.FullName</h4>
<h5 class="col-12 text-center">@Model.WorkDate.ToString("M")</h5>
<hr />

<form asp-action="UpdateNewHours"> 
    <input type="hidden" asp-for="Id" />
    <div class="input-group mb-3">
        <span class="input-group-text col-6 text-muted">Запланировано часов</span>
        <span class="form-control text-muted" id="disabledInput">@Model.HoursPlanned</span>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text col-6 text-muted">Плановое значение времени</span>
        <span class="form-control text-muted" id="disabledInput">@Model.TypeEmployment</span>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text col-6">Отработано фактически</span>
        <input asp-for="HoursWorked" class="form-control"/>
    </div>

    @* <input type="submit" class="btn btn-primary mt-3" value="Сохранить" asp-route-empid="@Model.Employee.Id" asp-route-date="@Model.WorkDate"/> *@
    <input type="submit" value="Save" class="btn btn-primary"/>
</form>
    
